@font-face {
  font-family: EngraversOldEnglishBold;
  src: url("fonts/Engravers\'\ Old\ English\ Bold.otf");
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

main {
  margin: 0 60px 60px;
}

header {
  margin: 0 60px 60px;
  cursor: pointer;
}

figcaption {
  text-align: right;
  opacity: 0.6;
}

.first {
  gap: 30%;
}

.a {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding-bottom: 25px;
  gap: 350px;
}

.a1 {
  display: flex;
  gap: 20px;
}

.a2 ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  color: black;
  font-size: 13px;
}

.a3 button {
  background-color: #236677a1;
  color: white;
  border-color: #236677a1;
  height: 30px;
  font-size: 12px;
  border-radius: 3px;
}

.b {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

.b1 {
  margin-left: 30px;
}

.b2 {
  font-family: EngraversOldEnglishBold, sans-serif;
  font-size: 25px;
  font-stretch: condensed;
}

.b3 {
  color: #14960a;
  padding-right: 20px;
}

.c ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  justify-content: center;
}

.c {
  border-bottom: double black;
  padding: 15px;
}

.d1 {
  display: grid;
  flex-flow: column wrap;
  justify-self: left;
  padding: 25px;
  justify-content: left;
}

.sec1 nav {
  margin-right: 20px;
}

.d {
  display: grid;
  grid-template-columns: 25vw 35vw;
  margin-top: none;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.dx {
  border-bottom: 1px solid lightgray;
}

.dy {
  margin-top: 15px;
}

.ea {
  display: grid;
  width: 30vw;
  margin-left: 20px;
  margin-top: 20px;
  padding-left: 10px;
}

.eai {
  border: 1px solid lightgray;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-top: 8px;
}

.eb {
  margin-top: 20px;
  margin-left: 20px;
  border-left: 1px solid lightgray;
  padding-left: 10px;
}

.e1 {
  display: grid;
  grid-template-columns: 30vw 30vw;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

.ec {
  display: grid;
  grid-template-columns: 10vw 15vw;
  gap: 20px;
  padding-left: 10px;
}

.ed {
  display: grid;
  grid-template-columns: 10vw 15vw;
  gap: 20px;
  border-left: 1px solid lightgray;
  padding-left: 20px;
}

.e2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  gap: 60px;
  padding: 15px;
}

.f2i {
  display: grid;
  grid-template-columns: auto;
  text-align: left;
  border-right: 1px solid lightgray;
}

.f2ii {
  display: grid;
  grid-template-columns: auto;
  text-align: left;
}

.f2 {
  display: flex;
  width: 30vw;
  gap: 30px;
  justify-content: center;
  padding: 10px;
}

.f {
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
  width: 28vw;
  margin-top: 20px;
  padding: 10px;
  height: 80%;
}

.f1 {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid lightgray;
}

.sec1 {
  display: flex;
}

.f1 figure {
  margin-left: 5px;
}

.g1 {
  display: flex;
  flex-direction: column;
}

.g {
  display: flex;
  border-bottom: 3px solid gray;
  padding-top: 20px;
  width: 65vw;
}

.line ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  width: 65vw;
}

.g1i {
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}

.g1ii {
  padding: 10px;
}

.g2 figure {
  padding-bottom: 10px;
  padding-left: 30px;
}

.h1 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.h {
  width: 65vw;
  display: flex;
  margin-top: 10px;
  gap: none;
  border-bottom: 3px solid gray;
  padding: 10px;
}

.h1i {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.h1ii {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.h2 figure {
  padding-left: 30px;
}

.big-fig {
  padding: 15px;
}

.i {
  width: 65vw;
  display: flex;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  padding: 15px;
}

.i figure {
  padding-left: 50px;
}

.j {
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
}

.sec2 {
  display: flex;
  flex-direction: row;
}

.main-sec {
  margin-top: 4px;
  column-gap: normal;
  width: 50%;
}

.j div {
  border-top: 1px solid lightgray;
  padding: 10px;
}

.london figure {
  padding-top: 10px;
}

.k {
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
  width: 65vw;
}

.k1 {
  display: flex;
  padding: 10px;
  border-top: 1px solid black;
}

.k1 figure {
  padding-left: 26px;
}

.k2i {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.k2i figure {
  padding-left: 30px;
  padding-right: none;
}

.k2 {
  display: flex;
  padding: 10px;
  border-top: 1px solid black;
}

.k3 {
  display: flex;
  padding: 10px;
  border-top: 1px solid black;
}

.k3 figure {
  padding-left: 30px;
}

.k4 {
  display: flex;
  padding: 10px;
  border-top: 1px solid black;
}

.k4 figure {
  padding-left: 65px;
  padding-right: none;
}

.k5 {
  display: flex;
  padding: 10px;
  border-top: 1px solid black;
}

.k5 figure {
  padding-right: 20px;
  padding-left: 40px;
}

.k-r {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 25vw;
}

.sec3 {
  display: flex;
  padding: 20px;
}

.kx {
  padding-left: 30px;
}

.ka {
  display: flex;
  padding: 15px;
}

.kb {
  display: flex;
  padding: 15px;
}

.kc {
  display: flex;
  padding: 15px;
}

.kd {
  display: flex;
  padding: 15px;
}

.ke {
  display: flex;
  padding: 15px;
}

.kf {
  display: flex;
  padding: 15px;
}

.l1 {
  display: flex;
  flex-flow: column wrap;
  border-right: 1px solid lightgray;
  padding-right: 10px;
}

.l1i {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.l1ii {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.l1iii {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.l2 {
  display: flex;
  flex-flow: column wrap;
  row-gap: 40px;
  padding-top: 20px;
}

.l3 {
  display: flex;
  flex-flow: column wrap;
  border-left: 1px solid lightgray;
  padding-left: 20px;
}

.l3a {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.l3b {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.l3c {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.l3d {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.l3e {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.l3f {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.l {
  display: flex;
  width: 25vw 45vw 30vw;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  gap: 80px;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}

.m {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid gray;
}

.m1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.m1b {
  padding-top: 10px;
}

.m2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.m2d {
  padding: 10px;
}

.m3 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.m3f {
  padding-top: 10px;
}

.m4 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.m4h {
  padding-top: 10px;
}

.m5 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.m5k {
  padding-top: 10px;
}

.n2 {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
}

.n2a {
  border-right: 1px solid lightgray;
}

.n2b {
  padding-left: 10px;
}

.n3 {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
}

.n3a {
  border-right: 1px solid lightgray;
}

.n3b {
  padding-left: 10px;
}

.nx {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.nxii {
  padding-top: 30px;
}

.nxi img {
  width: 60vw;
}

.ny {
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
  padding-left: 10px;
}

.n {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
  border-bottom: 3px solid gray;
}

.o1 {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.o1i {
  padding-bottom: 10px;
}

.o1ii {
  border-top: 1px solid lightgray;
  padding-top: 10px;
}

.o2 {
  display: flex;
  flex-direction: column;
}

.o3 {
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
  padding-left: 20px;
}

.o4 {
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
  padding-left: 20px;
}

.o4i {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.o4ii {
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.o4iii {
  padding: 10px;
}

.o {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  border-bottom: 3px solid gray;
  gap: 40px;
}

.p1 {
  display: flex;
  flex-direction: column;
}

.p2 {
  display: flex;
  flex-direction: column;
}

.p3 {
  display: flex;
  flex-direction: column;
}

.p4 {
  display: flex;
  flex-direction: column;
}

.p5 {
  display: flex;
  flex-direction: column;
}

.p img {
  width: 210px;
  height: 160px;
}

.p {
  display: flex;
  justify-content: center;
  gap: 25px;
  border-bottom: 3px solid gray;
  padding-bottom: 20px;
}

.p figcaption {
  font-size: 10px;
  text-align: right;
  opacity: 0.6;
}

.p div {
  padding-top: 15px;
}

.p .p1,
.p2,
.p3,
.p4 {
  border-right: 1px solid lightgray;
  padding-right: 20px;
}

.qx .q1,
.q2,
.q3 {
  display: flex;
  border-right: 1px solid lightgray;
  gap: 40px;
  justify-content: center;
}

.qx {
  display: flex;
  justify-content: center;
  gap: 50px;
  border-bottom: 1px solid lightgray;
  padding: 15px;
}

.qy .qa,
.qb,
.qc {
  display: flex;
  border-right: 1px solid lightgray;
  gap: 40px;
  justify-content: center;
}

.qy {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 15px;
}

.q {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: double black;
}

.qx img {
  width: 100px;
  height: 80px;
  padding-left: 20px;
}

.qy img {
  width: 100px;
  height: 80px;
  padding-left: 20px;
}

.rx {
  padding-left: 95px;
  padding-bottom: 15px;
}

.r1 .r1a,
.r1b,
.r1c,
.r1d,
.r1e {
  display: flex;
  flex-direction: column;
}

.r1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 20px;
}

.r2 .r2a,
.r2b,
.r2c,
.r2d,
.r2e {
  display: flex;
  flex-direction: column;
}

.r2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 40px;
}

.r1 img {
  width: 190px;
  height: 140px;
}

.r2 img {
  width: 190px;
  height: 140px;
}

.r3 .r3a,
.r3b,
.r3c,
.r3d,
.r3e {
  display: flex;
  flex-direction: column;
}

.r3 {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 40px;
}

.r3 img {
  width: 190px;
  height: 140px;
}

.s1 .s1a,
.s1b,
.s1c,
.s1d,
.s1e {
  display: flex;
  flex-direction: column;
}

.s1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 10px;
}

.s1 img {
  width: 190px;
  height: 140px;
}

.sx {
  padding-left: 90px;
}

.t1 .t1a,
.t1b,
.t1c,
.t1d,
.t1e {
  display: flex;
  flex-direction: column;
}

.t1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 10px;
}

.t1 img {
  width: 190px;
  height: 140px;
}

.tx {
  padding-left: 90px;
}

.rst {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.uy {
  display: flex;
  justify-content: center;
  gap: 95px;
  padding-top: 10px;
}

.uy li {
  list-style: none;
  padding-top: 10px;
}

.u {
  display: flex;
  flex-direction: column;
  border-top: double gray;
  margin: 0 50px 50px;
}

.ux {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 8vh;
  margin-left: 5%;
  padding: none;
  font-family: EngraversOldEnglishBold, sans-serif;
  font-stretch: condensed;
  font-size: 20px;
  padding-top: 5px;
}

.v ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  gap: 15px;
  opacity: 0.7;
  font-size: 13px;
  border-top: 1px solid lightgray;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0 50px 50px;
}
